streamlit==1.29.0
gtts==2.3.2
SpeechRecognition==3.11.0
pydub==0.25.1
numpy==1.26.4
Pillow==10.1.0
rembg==2.0.57
deepface==0.0.93
textblob==0.17.1
wordcloud==1.9.3
matplotlib==3.8.0
spacy==3.7.2
nltk==3.9.1
